body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}



.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}



.carousel-item img {
  width: 100%;
  height: 80vh;
}

.card-body img {
  min-width: 50%;
  max-height: 200px;
}

#section1 {
  padding-top: 500px;
  height: 200px;
}

.display1 {
  display: block;
}

#img1 img {
  height: 20px;
  width: 20px;
}

#radius button {
  border-radius: 50px;

}

#team img {
  border: none;
  width: 20px;

}


.loginBtn {
  background-color: none;
  border: 1.5px solid #FF725C;
  border-radius: 100px;
  width: 100px;
  height: 36px;
}

.login-btn-link {
  color: #FF725C;
  font-weight: 600;
  font-size: 14px;
}

.banner-heading{
  letter-spacing: -1px;
  width: 450px;
}
.space-icon{
  margin-inline: 5px;
}
.loginBtn2{
 background: #FF725C;
 color: #FFFFFF;
border: 1px solid transparent;
 border-radius: 100px;
  width: 100px;
  height: 36px;
  text-align: center;

 
}

/* scardd section css */

.profile-area {
  padding: 0px 0;
}

.card {
  box-shadow: 0 0 0 rgba(red, green, blue, alpha);
  overflow: hidden;
  /* border-radius: 15px; */
  border: 0px;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 2px solid  ; */
  /* margin-top: -80px; */
}

.main-text {
  padding: 30px 0;
  text-align: center;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 980;
  font-size: 20px;
  margin: 0 0 20px;
}

.main-text p {
  font-size: 16px;
  padding: 0 35px;
}

@media screen and (max-width: 760px) {
  
  
  #img1{
    text-align: center;
    justify-content: center;
  }
  
    #image-center{
        text-align: center!important;
    }
}
@media screen and (max-width: 770px) {
  
  
    #text-center{
        text-align: center!important;
    }
}

  